{% extends "website/index.html" %}
{% load static %}

{% block title %}News Feed{% endblock title %}

{% block header %}
	<!-- full Title -->
	<div class="full-title" style="background: url({%static "website/images/IMG-20230924-WA0021.jpg" %}) no-repeat center;">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3">Farm News Feed
				<small>Latest insights on Farming, Agri</small>
			</h1>
		</div>
	</div>
{% endblock header %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
		<div class="breadcrumb-main">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url "website:landing" %}">Home</a>
				</li>
				<li class="breadcrumb-item active">Farm News Feed</li>
			</ol>
		</div>

		<div class="blog-entries">
			
			<!-- Blog Post -->
			{% for post in object_list %}
			<div class="card mb-4">
				<div class="card-body">
				  <div class="row">
					<div class="col-lg-6">
					  <a href="{% url "website:article-detail" post.pk %}">
						<img class="img-fluid rounded" src="{{post.hearder_image.url}}" height="200" width="200" alt="{{post.title}}" />
					  </a>
					</div>
					<div class="col-lg-6">
					  <h2 class="card-title">{{post.title}}</h2>
					  <p class="card-text">{{post.Snippet}}</p>
					  <a href="{% url "website:article-detail" post.pk %}" class="btn btn-primary">Read More &rarr;</a>
					</div>
				  </div>
				</div>
				<div class="card-footer text-muted">
				  Posted on {{post.post_date}} by
				  <a href="{% url "website:article-detail" post.pk %}">Admin</a>
				</div>
			</div>
			{% endfor %}
			

		</div>

    </div>

  </div>
  <!-- /.container -->
{% endblock content %}