{% extends "website/index.html" %}
{% load static %}

{% block title %}{{post.title}}{% endblock title %}

{% block header %}
	<!-- full Title -->
	<div class="full-title" style="background: url({{post.hearder_image.url}}) no-repeat center;">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3">{{post.title}}
				<small>{{post.Snippet}}</small>
			</h1>
		</div>
	</div>
{% endblock header %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
		<div class="breadcrumb-main">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url "website:landing" %}">Home</a>
				</li>
        <li class="breadcrumb-item">
					<a href="{% url "website:blog" %}">News Feed</a>
				</li>
				<li class="breadcrumb-item active">{{post.title}}</li>
			</ol>
		</div>

		<div class="row">
        <!-- Post Content Column -->
			<div class="col-lg-8">

				<!-- Preview Image -->
				<img class="img-fluid rounded" src="{{post.hearder_image.url}}" alt="{{post.title}}" />
				<hr>
					<!-- Date/Time -->
					<p>Posted on {{post.post_time}}</p>
				<hr>
				<!-- Post Content -->
				<p class="lead">{{post.Snippet}}</p>
				<p>{{post.body}}</p>

			<hr>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 blog-right-side">

          <!-- Search Widget -->
          <div class="card mb-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock content %}