{% extends "website/index.html" %}
{% load static %}

{% block title %}{{post.title}}{% endblock title %}

{% block header %}
	<!-- full Title -->
	<div class="full-title" style="background: url({% static "website/images/c3c728cd-d543-428c-881d-f26a2b34a48b.png" %}) no-repeat center;">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3">{{post.title}}
				<small>Our Agri-world</small>
			</h1>
		</div>
	</div>
{% endblock header %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
		<div class="breadcrumb-main">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url "website:landing" %}">Home</a>
				</li>
                <li class="breadcrumb-item">
					<a href="{% url "website:careers" %}">Careers</a>
				</li>
				<li class="breadcrumb-item active">Job Opening</li>
			</ol>
		</div>

		<div class="row">
        <!-- Post Content Column -->
			<div class="col-lg-8">

				<!-- Preview Image -->
				<img class="img-fluid rounded" src="{% static "website/images/c3c728cd-d543-428c-881d-f26a2b34a48b.png" %}" alt="" />
				<hr>
					<!-- Date/Time -->
					<p>Closing Date: {{post.closing_date}}</p>
				<hr>
				<!-- Post Content -->
				<p class="lead">Vacancies: {{post.number_of_open_position}}. Closing Date: {{post.closing_date}}</p>
				
				<p>{{post.description}}</p>

			<hr>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 blog-right-side">

          <!-- Search Widget -->
          <div class="card mb-4">
            <h5 class="card-header">Apply</h5>
            <div class="card-body">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button"><a href="{% url "website:applytopost" post.pk %}">Apply</a></button>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock content %}