{% extends 'website/index.html' %}
{% load static %}

{% block metadescription %}
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
{% endblock metadescription %}

{% block title %}FAQs{% endblock title %}

{% block content %}
<div class="container">
    <!-- Content here -->
    <h1 class="contact_taital" style="color: red;">Frequently Asked Questions</h1>
    <div class="container">
    <div class="card">
        <div class="card-header">
            Questions
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p>Not yet migrated the Model.</p>
            <footer class="blockquote-footer">Client <cite title="Source Title">Edwin Hlongwane</cite></footer>
            </blockquote>
        </div>
        </div>
    </div>
</div>
{% endblock content %}