{% extends "store/base.html" %}
{% load static %}

{% block metadescription %}{% endblock metadescription %}

{% block title %}Confirm Order{% endblock title %}

{% block content %}
<div class="container">
    <main>
        <div class="py-5 text-center">
            
            <h2>Checkout form</h2>
           
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                    <span class="badge bg-primary rounded-pill">Order Number: {{pk}}</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for item in items.all %}
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">{{item.name}}</h6>
                            <small class="text-body-secondary">{{item.description|slice:50}}</small>
                        </div>
                        <span class="text-body-secondary">{{item.price}}</span>
                    </li>
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (ZAR)</span>
                        <strong>{{price}}</strong>
                    </li>
                </ul>

                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </form>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
        
                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="{{name}}" value="{{name}}" required>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email <span
                                    class="text-body-secondary">(Collected)</span></label>
                            <input type="email" class="form-control" id="email" placeholder="{{email}}" value="{{email}}">
                            
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="{{street}}" value="{{street}}"
                                required>

                        </div>

                        <div class="col-12">
                            <label for="address2" class="form-label">Address 2 <span
                                    class="text-body-secondary">(Collected)</span></label>
                            <input type="text" class="form-control" id="address2" placeholder="{{city}}" value="{{city}}">
                        </div>

                        <div class="col-md-5">
                            <label for="country" class="form-label">Country</label>
                            <select class="form-select" id="country" required>
                                <option value="South Africa"></option>
                                <option>South Africa</option>
                            </select>
                            <div class="invalid-feedback">
                                I.E We only carter for custormers within South African Borders.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="state" class="form-label">State</label>
                            <select class="form-select" id="state" required>
                                <option value="{{state}}">{{state}}</option>
                                <option>{{state}}</option>
                            </select>
                
                        </div>

                        <div class="col-md-3">
                            <label for="zip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="{{zipcode}}" value="{{zipcode}}" required>
                            
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="same-address">
                        <label class="form-check-label" for="same-address">Shipping address is the same as my
                            billing address</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="save-info">
                        <label class="form-check-label" for="save-info">Save this information for next time</label>
                    </div>

                    <hr class="my-4">

                    <h4 class="mb-3">Payment</h4>

                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked
                                required>
                            <label class="form-check-label" for="credit">Credit card</label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="paypal">PayPal</label>
                        </div>
                    </div>

                    <div class="row gy-3">
                        <div class="col-md-6">
                            <label for="cc-name" class="form-label">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required>
                            <small class="text-body-secondary">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="cc-number" class="form-label">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required>
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="cc-expiration" class="form-label">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                            <div class="invalid-feedback">
                                Expiration date required
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="cc-cvv" class="form-label">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
                    
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">PayPal GateWay</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <p>PayPal Window for initiating Payment</p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <div class="col-md-6 text-center">
                                <div id="paypal-button"></div>
                                <div id="paypal-button-container"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=sb"></script> 
    <script>paypal.Buttons().render('body');</script>
    <script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
      paypal.Button.render({
        // Configure environment
        env: 'sandbox',
        client: {
          sandbox: 'AeMBI-AoWXQlXIILh3qbS6jyTt8jftzOGiELrdB4xa40mHwQeSHPn1HsH8UMzf2KPMTIC5_tkDiaXttx',
          production: 'demo_production_client_id'
        },
        // Customize button (optional)
        locale: 'en_US',
        style: {
          size: 'medium',
          color: 'blue',
          shape: 'pill',
        },
    
        // Enable Pay Now checkout flow (optional)
        commit: true,
    
        // Set up a payment
        payment: function(data, actions) {
          return actions.payment.create({
               transactions: [{
              amount: {
                total: '{{ price }}',
                currency: 'USD'
              }
            }]
          });
        },
        // Execute the payment
        onAuthorize: function(data, actions) {
          return actions.payment.execute().then(function() {
            // Show a confirmation message to the buyer
            $.ajax({
                type: 'POST',
                url: "{% url 'store:order-confirmation' pk %}", 
                beforeSend: function(request) {
                    request.setRequestHeader('X-CSRFToken', csrftoken)
                },
                data: JSON.stringify({'isPaid': true}),
                success: function(data) {
                    window.location.href = '/store/payment-submitted/'
                }
            })
          });
        }
      }, '#paypal-button');
    
    </script>
    <script>
        paypal.Buttons().render('#paypal-button-container');
        // This function displays Smart Payment Buttons on your web page.
      </script>
    
{% endblock content %}