{% extends "store/base.html" %}
{% load static %}

{% block metadescription %}
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
{% endblock metadescription %}

{% block title %}Products{% endblock title %}

{% block nav %}
      <div class="col-4 pt-1">
        <a class="btn btn-sm btn-outline-danger" href="{% url "store:store" %}">back</a>
      </div>
{% endblock nav %}

{% block content %}
  <div class="container">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      BlackOX Farm Store
    </h3>
  </div>
  <!-- Search -->
  <div class="container">
    <form method="get" action="{% url "store:search" %}">
      <label for="exampleDataList" class="form-label">Find in Store</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="query" placeholder="Pesticides, Agri Supplies, Live Stock" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-danger" type="submit" id="button-addon2">Search</button>
      </div>
    </form>
  </div>

  <main class="container">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      Store Products
    </h3>
    <form method="post" action="{% url "store:store-products" %}">
      {% csrf_token %}
        <div class="row mb-2">
          {% for st in storeitems %}
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">{{st.category.name}}</strong>
                <strong class="d-inline-block mb-2 text-primary-emphasis"><input type="checkbox" name="items[]" class="form-check-input" value="{{ st.pk }}" placeholder="+cart">cart</strong>
                <h3 class="mb-0">{{st.name}}</h3>
                <div class="mb-1 text-body-secondary">R {{st.price}}</div>
                <p class="card-text mb-auto">{{st.description}}</p>
                {% comment %} <a href="{% url "store:store" %}" class="icon-link gap-1 icon-link-hover stretched-link" style="--bs-btn-padding-y: 10px; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; padding: 12px 40px; margin-top: 20px; background-color: red !important; border-radius: 10px 20px 60px; color: white;">
                  Details
                </a> {% endcomment %}
              </div>
              <div class="col-auto d-none d-lg-block">
                <img width="200" height="250" background="#55595c" color="#eceeef" text="Thumbnail" src={{st.image.url}}>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    
        <nav class="blog-pagination" aria-label="Pagination">
          <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" class="btn btn-outline-primary rounded-pill" style="background-color: red; border: None; color: white;" >Proceed to order</button>
        </nav>

        <!--Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Proceed to Checkout</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" name="name" id="recipient-name">
                  </div>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Email:</label>
                    <input type="text" class="form-control" name="email" id="recipient-name">
                  </div>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Street Name:</label>
                    <input type="text" class="form-control" name="street" id="recipient-name">
                  </div>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">City:</label>
                    <input type="text" class="form-control" name="city" id="recipient-name">
                  </div>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">State:</label>
                    <input type="text" class="form-control" name="state" id="recipient-name">
                  </div>
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">Zip Code:</label>
                    <textarea class="form-control" name="zip_code" id="message-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Checkout</button>
              </div>
            </div>
          </div>
        </div>
        <!--end modal-->
      </form>
  </main>
{% endblock content %}